{% extends '../base.html' %} {% load static tailwind_tags %} {% load i18n %} 
{% block content %}

<body class="bg-gradient-to-b from-blue-100 to-white h-screen">
  <div class="flex justify-center items-center h-screen">
    <!-- Form -->
    <div class="bg-white px-8 py-6 rounded-xl shadow-lg w-full max-w-2xl">
      <a
        href="{% url 'index' %}"
        class="flex items-center text-black hover:text-blue-600 font-medium space-x-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-5 h-5 text-blue-600"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M10 19l-7-7 7-7"
          />
          <path stroke-linecap="round" stroke-linejoin="round" d="M3 12h18" />
        </svg>
        <span class="-mt-[2px]">{% trans "Back" %}</span>
      </a>

      <h2 class="text-xl font-semibold text-center mb-8 mt-2">
        {% trans "Cancel Trip" %}
      </h2>

      <!-- Input -->
      <div class="mb-4">
        <input
          type="text"
          class="search w-full p-2 border rounded-lg"
          placeholder="{% trans 'Search Trips...' %}"
          onkeyup="search()"
        />
        {% if has_data %}
        {% for trip in latest_trips %}
        {% if trip.status == 'active' %}
        <div
          class="trip-item bg-white shadow-md border border-gray-200 rounded-lg p-3 w-full mt-4"
        >
          <div class="flex items-center justify-between">
            <h2 class="trip-name text-lg font-semibold">
              {{trip.name}}
              <span
                class="text-sm font-medium text-green-800 bg-green-200 p-1 rounded ml-6"
              >
                {% trans trip.status %}
              </span>
            </h2>

            <span
              onclick="cancelTrip({{trip.id}})"
              class="text-md cursor-pointer hover:bg-red-200 hover:text-red-500 duration-500 font-semibold px-2 py-1 rounded-full"
            >
              <i class="fa-solid fa-xmark"></i>
            </span>
          </div>
          <div class="mt-4 text-gray-700">
            <p class="flex items-center space-x-2">
              <i class="fa-solid fa-phone text-sm"></i>
              <span class="trip-phone">{{trip.phone_number}}</span>
            </p>
            <p class="flex items-center space-x-2 mt-2">
              <i class="fa-solid fa-location-dot text-sm"></i>
              <span class="trip-destination">{{trip.destination}}</span>
            </p>
            <p class="flex items-center space-x-2 mt-2">
              <i class="fa-solid fa-calendar text-sm"></i>
              <span class="trip-date">
                {{trip.start_date}} - {{trip.end_date}}
              </span>
            </p>
          </div>
        </div>
        {% endif %}
        {% endfor %} 
        {% else %}
        <p class="text-center text-[#87898b] mt-10">
          {% trans "No active trips found" %}
        </p>
        {% endif %}
      </div>
    </div>
  </div>

  {% endblock %}

